.scroller {
  height: 90vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroller-two {
  scroll-snap-type: y none;
  overflow: scroll;
}

.section-container {
  height: 100vh;
  scroll-snap-align: start;
}



.content-container {
  height: 9vh;
  justify-content: center;
  align-items: center;

}

img {

  display: 'block';
  max-width: '100%';
  max-height: '100%';
}

body {
  margin: 0
}



.accordian-summary {
  overflow: hidden;


}

.project-title {
  position: absolute;
  bottom: 3%;
  background-color: rgb(122, 122, 122, .5);
  width: 100vw;
  color: white;
  justify-content: center;


}